@import "frequentColours";

footer{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: black;
    color: white;
    height: 60px;
    
    p{
        display: flex;
        font-size: smaller;
        width: 100%;
        justify-content: space-around;
    }
}