@import "frequentColours";
@import "hamburger";
@import "form";

.form_header{
    display: block;
    height: 652px;
    position: relative;
    width: 100%;

    .first_person_image{
        display: flex;
        position: absolute;
        background-image: url("/granvile-assetss/home-desktop.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;

        @media (max-width: 980px) {
            background-color: $frequentBlack;
            opacity: 1;
            background-image: url("/granvile-assetss/home-mobile.jpg");
            background-position: 28% 20%;
        }

        .transparent_form_banner{
            display: flex;
            position: absolute;
            height: 15%;
            width: 100%;
            opacity: 0.66;
            top: 0;
            background-color: white;
            justify-content: space-between;

            @media (max-width: 980px) {
                background-color: $frequentBlack;
                opacity: 1;
                
                .nav{
                    display: flex;
                    
                    .hamburger{
                        position: absolute;
                        background-color: $frequentBlack;
                        top: 40%;
                    }
                    .title{
                        display: none;
                    }
                }
                .green_logo{
                    display: none;
                }
                .white_logo{
                    display: block;
                    position: absolute;
                    height: 100%;
                    width: 100px;
                    padding: 10px 10px;
                }
                
            }
            @media (min-width: 981px) {
    
                .nav{
                    display: none;
                }
                .green_logo{
                    display: flex;
                    position: absolute;
                    height: 100%;
                    width: 100px;
                    padding: 10px 10px;
                    top: 1;
                    left: 10%;
                }
                .white_logo{
                    display: none;
                }
            }

            .img{
                display: block;
                position: absolute;
                background-size: contain;
                background-repeat: no-repeat;
                height: 100px;
                width: 100px;
                top: 0;
                left: 0;

                .green_logo{ 
                    display: block;
                }
    
                .white_logo{
                    display: none;
                }
            }
        }

        .green_form_banner{
            color: white;
            background-color: $frequentGreen;
            height: 15%;
            width: 100%;
            display: flex;
            position: absolute;
            align-items: center;
            bottom: 0;
            font-size: large;

            @media (max-width: 980px) {
                height: 20%;
            }
            @media (max-width: 1260px) {
                flex-wrap: wrap;
                padding: 0px 20px;
            }

            .banner_text {
                display: block;
                flex-wrap: wrap;
                flex-grow: 1;
                h1{
                    display: block;
                    position: absolute;     
                }
                span{
                    font-weight: bold;
                }

                @media (max-width: 980px) {
                    text-align: center;
                    justify-content: center;
                } 
            } 
        }
    }
}